<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>method</key>
	<string>enterprise</string>
	<key>teamID</key>
	<string>8Z9Q2C694P</string>
	<key>signingCertificate</key>
	<string>iOS Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>eu.unicorn.JenkinsTestApp</key>
		<string>9deba7d9-41d5-4acd-8622-7a8f86bdaa12</string>
	</dict>
	<key>iCloudContainerEnvironment</key>
	<string>Development</string>
	<key>compileBitcode</key>
	<true/>
</dict>
</plist>